<div class="chat-window-container">
  <div class="name">
    <h2>Filip Svoboda</h2>
  </div>
  <div class="messages" #messages>
    <div class="message">
      <div class="own">
        Toto je testovací zpráva
      </div>
    </div>
    <div class="message">
      <div class="foreign">
        Zdravím :)
      </div>
    </div>
    <div class="message">
      <div class="foreign">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla malesuada dignissim. Suspendisse
        scelerisque est quis aliquet dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        dignissim accumsan eros, id placerat mi. Integer auctor malesuada pulvinar. Sed in tellus pulvinar, posuere
        nisi eget, consectetur orci. Cras non augue et eros luctus consequat eget a arcu. Aliquam quis facilisis dui,
        vel viverra purus. Phasellus nisl turpis, consectetur sit amet est ac, sollicitudin posuere nisl. Aenean
        dictum mauris ac sagittis venenatis. Nulla sed quam vel justo tempus facilisis ac at ligula. Etiam quis sem
        porta, iaculis diam nec, mollis orci. Duis condimentum massa id dolor pretium imperdiet. Nulla eget nulla
        magna. Maecenas sit amet nisi accumsan, pulvinar ligula sit amet, condimentum elit.
      </div>
    </div>
    <div class="message">
      <div class="foreign">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla malesuada dignissim. Suspendisse
        scelerisque est quis aliquet dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        dignissim accumsan eros, id placerat mi. Integer auctor malesuada pulvinar. Sed in tellus pulvinar, posuere
        nisi eget, consectetur orci. Cras non augue et eros luctus consequat eget a arcu. Aliquam quis facilisis dui,
        vel viverra purus. Phasellus nisl turpis, consectetur sit amet est ac, sollicitudin posuere nisl. Aenean
        dictum mauris ac sagittis venenatis. Nulla sed quam vel justo tempus facilisis ac at ligula. Etiam quis sem
        porta, iaculis diam nec, mollis orci. Duis condimentum massa id dolor pretium imperdiet. Nulla eget nulla
        magna. Maecenas sit amet nisi accumsan, pulvinar ligula sit amet, condimentum elit.
      </div>
    </div>
    <div class="message">
      <div class="own">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla malesuada dignissim. Suspendisse
        scelerisque est quis aliquet dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        dignissim accumsan eros, id placerat mi. Integer auctor malesuada pulvinar. Sed in tellus pulvinar, posuere
        nisi eget, consectetur orci. Cras non augue et eros luctus consequat eget a arcu. Aliquam quis facilisis dui,
        vel viverra purus. Phasellus nisl turpis, consectetur sit amet est ac, sollicitudin posuere nisl. Aenean
        dictum mauris ac sagittis venenatis. Nulla sed quam vel justo tempus facilisis ac at ligula. Etiam quis sem
        porta, iaculis diam nec, mollis orci. Duis condimentum massa id dolor pretium imperdiet. Nulla eget nulla
        magna. Maecenas sit amet nisi accumsan, pulvinar ligula sit amet, condimentum elit.
      </div>
    </div>
    <div class="message">
      <div class="own">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla malesuada dignissim. Suspendisse
        scelerisque est quis aliquet dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        dignissim accumsan eros, id placerat mi. Integer auctor malesuada pulvinar. Sed in tellus pulvinar, posuere
        nisi eget, consectetur orci. Cras non augue et eros luctus consequat eget a arcu. Aliquam quis facilisis dui,
        vel viverra purus. Phasellus nisl turpis, consectetur sit amet est ac, sollicitudin posuere nisl. Aenean
        dictum mauris ac sagittis venenatis. Nulla sed quam vel justo tempus facilisis ac at ligula. Etiam quis sem
        porta, iaculis diam nec, mollis orci. Duis condimentum massa id dolor pretium imperdiet. Nulla eget nulla
        magna. Maecenas sit amet nisi accumsan, pulvinar ligula sit amet, condimentum elit.
      </div>
    </div>
    <div class="message">
      <div class="foreign">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fringilla malesuada dignissim. Suspendisse
        scelerisque est quis aliquet dignissim. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque
        dignissim accumsan eros, id placerat mi. Integer auctor malesuada pulvinar. Sed in tellus pulvinar, posuere
        nisi eget, consectetur orci. Cras non augue et eros luctus consequat eget a arcu. Aliquam quis facilisis dui,
        vel viverra purus. Phasellus nisl turpis, consectetur sit amet est ac, sollicitudin posuere nisl. Aenean
        dictum mauris ac sagittis venenatis. Nulla sed quam vel justo tempus facilisis ac at ligula. Etiam quis sem
        porta, iaculis diam nec, mollis orci. Duis condimentum massa id dolor pretium imperdiet. Nulla eget nulla
        magna. Maecenas sit amet nisi accumsan, pulvinar ligula sit amet, condimentum elit.
      </div>
    </div>
    <div class="spacer"></div>
  </div>
  <div class="chat-message-input">
    <input type="text" placeholder="Aa"/>
    <button type="button">&gt;</button>
  </div>
</div>
